{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% block content %}

    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. You are already logged in.</p>
    {% else %}
    <div class="col text-center">
        <h1 class="mb-3 mt-5">Registration</h1>
    </div>

    <div class="container col-xl-10 col-xxl-8 px-4 py-4">
        <div class="col-md-10 mx-auto col-lg-5">

            <form class="px-5 pb-3 pt-5 border rounded shadow-sm bg-light" method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                <div class="form-floating mb-3">
                    <div class="alert alert-danger mb-0 text-center" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                    </div>
                </div>
                {% endif %}

                {% for field in form.visible_fields %}
                    {% if form.is_bound %}
                        {% if field.field.widget.input_type == 'checkbox' %}
                        <div class="checkbox mb-3">
                            <label>
                                {% render_field field %} Are you a trainer?
                            </label>
                        </div> 
                        {% else %}
                        <div class="form-floating mb-3">
                            {% render_field field class="form-control is-invalid" placeholder="field.label_tag" %}
                            <label class="form-group col-form-label mb-0">{{ field.label_tag }}</label>
                        </div>
                        {% endif %}
                    {% else %}
                        {% if field.field.widget.input_type == 'checkbox' %}
                        <div class="checkbox mb-3">
                            <label>
                                {% render_field field %} Are you a trainer?
                            </label>
                        </div>
                        {% else %}
                        <div class="form-floating mb-3">
                            {% render_field field class="form-control" placeholder="field.label_tag" %}
                            <label class="form-group col-form-label mb-0">{{ field.label_tag }}</label>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
                <hr class="my-4">
                <small class="text-muted text-center"><p>By clicking Register, you agree to the terms of use.</p></small>
            </form>

        </div>
    </div>
    {% endif %}

{% endblock %}

