{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% block content %}

    <div class="col text-center">
        <h1 class="mb-3 mt-5">Activate TopUp</h1>
    </div>

    <div class="container col-xl-10 col-xxl-8 px-4 py-4">
        <div class="col-md-10 mx-auto col-lg-5">

            <form class="px-5 pb-3 pt-5 border rounded bg-light shadow-sm" method="post" action="{% url 'top_up' %}">
                {% csrf_token %}

                {% if error_messages %}
                <div class="form-floating mb-3">
                    <div class="alert alert-danger mb-0 text-center" role="alert">
                    {% for error in error_messages %}
                        {{ error }}
                    {% endfor %}
                    </div>
                </div>
                {% endif %}

                {% for field in form.visible_fields %}
                <div class="form-floating mb-3">
                    {% if form.is_bound %}
                        {% render_field field class="form-control is-invalid" placeholder="field.label_tag" %}
                    {% else %}
                        {% render_field field class="form-control" placeholder="field.label_tag" %}
                    {% endif %}
                    <label class="form-group col-form-label mb-0">{{ field.label_tag }}</label>
                </div>
                {% endfor %}

                <button class="w-100 btn btn-lg btn-primary" type="submit">Activate</button>
                <hr class="my-4">
                <small class="text-muted text-center"><p>By clicking Activate, you agree to the terms of use.</p></small>
            </form>
        </div>
    </div>

{% endblock %}

